@use '../../Styles/' as *;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginForm {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 10px;
    background-color: $bgc-color-form;

    width: 600px;
    height: 200px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0px 38px;

    &__item {
        display: flex;
        flex-direction: column;

        input{
            @include input;
        }

        &-btn{
            @include button;
            border: 0;
            margin-top: 0;

        }
        &-btn:disabled {
            @include button-disabled
        }

        &-btn:hover {
            @include button-hover
        }
        &-btn:active{
            @include button-active
        }

    }
}


.new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:40px 0 80px 0;

    // &__title{

    // }

    &__btn{
        @include button;
        border: 0;
    }
    &__btn:disabled {
        @include button-disabled
    }

    &__btn:hover {
        @include button-hover
    }
    &__btn:active{
        @include button-active
    }
}