.card{
border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
background: #ffffff;
width: 255px;
display: flex;
flex-direction: column;
align-items:center;
padding: 15px;
margin: 20px;

    img{
        width: 200px;
    }
}

.private-recipes{
    display: flex;
}