@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap');


//FUENTES
$font-family:'M PLUS Rounded 1c', sans-serif;

$brown: #503617;
$orange:#c66c02;
$ligth: #ffc586;

//BACKGROUND COLORS
$bgc-color-form: #ffc586;

$bgc-color-principal: #503617;

//BUTTON COLOR
$btn-principal: #503617;

$btn-second: #c66c02;

//CONTENT WIDTH

$pc-width: 1280px;
$tablet-width: 700px;
$mobile-width: 500px;

