@use '../../Styles/' as *;

.recipeCard{
display: flex;
flex-direction: row;
margin: 10px;

     &__list{
         display: flex;
     }

      &__list-item{
    position:flex;
    flex-direction: row;
    background-color: #fff;  
    list-style: none;
    padding: 20px;
    margin: 20px; 
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);

      img {
          width: 300px;
      }
      }

}

