.renderList{
    list-style: none;
    font-size: 20px;

    li{
        cursor: pointer;
    }
    li:hover{
        font-weight:700;
    }
}

.list{
    list-style: none;
    font-size: 20px;

    &__icon{
        cursor: pointer;
    }
}