@use '../../Styles/' as * ;

.div{
    display: flex;
    justify-content: center;
}
.form-style {
    display: flex;
    flex-direction: column;

    width: $pc-width;
    // margin: 0 40px 40px 40px;

    @include tablet{
        width: 500px;
    }

    @include mobile{
        width: 300px;
    }

    fieldset{
        display: flex;
        flex-direction: column;
        background-color: $bgc-color-form;

        border: 0;

        img{
            border-radius: 100px;
            border: 3px solid white;

            margin-bottom: 10px;
        }
    }

    input,select, textarea, button {
        @include input;
    }

    textarea{
        height: 200px;
    }

    select {
        cursor: pointer;
        width: 200px;
        height: 30px;
        padding: 7px;

    }

    button{
        @include button;
        background-color: $bgc-color-principal;
        margin: 40px 0 80px 10px;
        height: 40px;
    }

    button:disabled{
        @include button-disabled;
    }

    button:hover{
        @include button-hover;
    }

    button:active{
        @include button-active;
    }

}
