.form-style {
    display: flex;
    flex-direction: column;

    margin: 0 40px 40px 40px;

    fieldset{
        display: flex;
        flex-direction: column;
        background-color: rgba(238, 250, 238, 0.5);

        border: 0;
    }

    input,select, textarea, button {
        border: 0;
        border-radius: 5px;
        margin: 10px 10px 10px 10px;
        height: 30px;
    }

    select {
        cursor: pointer;
        width: 200px;

    }

    button{
        margin-top: 20px;
        width: 150px;
        padding: 5px;

    }

}