@use '../../Styles/' as *;

.active {
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-family: $font-family;
}

.inactive {
    color: white;
    text-decoration: none;
}

.navbar {
    top: 0;
    height: 300px;
    background-image: url('../../assets/cabecera02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    // display: flex;
    // align-items: center;

    &__box{
        max-width: $pc-width;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-family: $font-family;
        margin: 0 auto;


    }

    &__box0{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-logo{
            width: 80px;
        }

    }

    &__box1{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        width: 100%;

        margin-top: 20px;

        &-lang{

            &-icon{
                width: 40px;

                @include mobile{
                    width: 20px;
                }
            }
        }

        &-about{
            text-decoration: none;
            &-p{
                color: white;
            }

        }
    }

    &__box2{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        &-user{
            display: flex;
            flex-direction: row;


            &-name{
                text-transform: capitalize;
                @include mobile{
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            &-img{
                width: 30px;
            }
        }

        &-logout{
            display: flex;
            align-items: center;

            @include mobile{
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
            }
            &-icon{
                width: 40px;
            }
        }

    }


    }


