@use '../../Styles/' as *;

.navbar {
    top: 0;
    height: 300px;
    background-image: url('../../assets/cabecera02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    // display: flex;
    // align-items: center;

    &__box{
        max-width: $pc-width;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-family: $font-family;
        margin: 0 auto;
        padding-top: 20px;

    }

    &__box0{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40%;

        &-logo{
            width: 80px;
        }

    }

    &__box1{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        margin-left:10px;
        width: 30%;

        &-lang{

            &-icon{
                width: 40px;
                margin-right: 20px;
                color: white;

                @include mobile{
                    display: none;
                }
            }
        }

        &-about{
            text-decoration: none;
            &-p{
                color: white;
            }
            &-p:hover{
                color:$btn-second;
            }

        }
    }

    &__box2{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
        margin-right:10px;
        width: 30%;
        text-decoration: none;


        &-user{
            display: flex;
            flex-direction: row;
            background-color: cornflowrblue;
            justify-content:flex-end;
            text-decoration: none;


            &-name{
                text-transform: capitalize;
                text-align: end;
                margin-right:10px;
                text-decoration: none;
                color:$brown;

                @include mobile{
                    display: none;

                }
            }

            &-img{
                width: 18px;
                margin-right: 10px;
            }
            &-img:hover{
                color: $btn-second;
            }

        }

        &-user p:hover{
            color: $btn-second;
        }

        &-logout{
            display: flex;
            align-items: center;

            &-link{
                text-decoration: none;

                color: $brown;
            }
            &-link:hover{
                color: $btn-second;
            }

            .logout-hover{

                @include mobile{
                    display: none;
                }
            }


            &-icon{
                width: 20px;

            }

            &-icon:hover{
                color:$btn-second;

            }
        }

        &-login{
            display: flex;
            align-items: center;

            &-link{
                text-decoration: none;
                color: $ligth;
            }
        }

    }


    }


