.notFound{
    margin: 0 auto;
max-width: 1280px;
width: 100%;
display: flex;
justify-content: center;

 p{
     text-align: right;
 }


&__title{
    font-size: 100px;
    text-align: right;
    margin-bottom: -40px;
}


}